<a href="https://colab.research.google.com/github/Jojoxiao/Machine-Learning-for-Beginner-by-Python3/blob/master/Copy_of_ArangoDB_doc_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ArangoDB exercises for Data Management course at UHasselt / KU Leuven
This interactive notebook contains the exercises for key/value stores and document databases for the Data Management course at UHasselt / KU Leuven.

## **Instructions**
- In this session, we will use a server that we have running at UHasselt, at http://35.187.27.74:8529/
- To run the exercises in this notebook, go through the cells one-by-one using the play button at the left of the cell, or by pressing Shift-Enter.
- **IMPORTANT: for each exercise**:
  - Try to get the correct AQL query in your own ArangoDB instance (on http://localhost:8529). Get it working there first!
  - When you have the correct output, copy/paste your query into this notebook to replace the `WRITE AQL QUERY HERE`.
  - On the spreadsheet, indicate that you finished the exercise.

## Setup

In [ ]:
!pip install python-arango

In [ ]:
from arango import ArangoClient

In [ ]:
client = ArangoClient(hosts='http://35.187.27.74:8529/')

In [ ]:
db = client.db("DATMNG-flights", username="exercise_user", password="a4sDgLGAZ3ApLXubac")

In [ ]:
db.collections()

## Section 1: Loading data
Follow the directions at https://vda-lab.be/data-management/nosql-arangodb-loading-data.html to create the `airports` and `flights` collections. This data contains flights for the first 15 days of 2008.

### Exercise 1.1: Check if data is loaded correctly

- If you click on `Collections` and then `airports`, the number of records in that collection is shown in the bottom right. You should have 3,375 records.
- Idem for `flights`. You should have 286,463 records.

If you did not get the numbers above, delete the collections and try again.

## Section 2: ArangoDB as key/value store

### Exercise 2.1: Get the airport with the key `JFK`
The output you're looking for in the ArangoDB web interface is this:
```json
[ { "_key": "JFK", "_id": "airports/JFK", "_rev": "_ZbpOKyK-Aa",
    "name": "John F Kennedy Intl",
    "city": "New York", "state": "NY", "country": "USA",
    "lat": 40.63975111, "long": -73.77892556,
    "vip": true } ]
```

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
 WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 1
assert results[0]['lat'] == 40.63975111

### Exercise 2.2: Get the airports with keys `AFN` and `AKO`
The output you're looking for the in ArangoDB web interface is this:
```json
[ { "_key": "AFN", "_id": "airports/AFN", "_rev": "_ZbpOKxW-_C",
    "name": "Jaffrey Municipal Silver Ranch",
    "city": "Jaffrey", "state": "NH", "country": "USA",
    "lat": 42.80513417, "long": -72.00302194,
    "vip": false },
  { "_key": "AKO", "_id": "airports/AKO", "_rev": "_ZbpOKxW-AA",
    "name": "Akron-Washington Co",
    "city": "Akron", "state": "CO", "country": "USA",
    "lat": 40.17563333, "long": -103.2220278,
    "vip": false } ]
```

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert sorted(list(map(lambda x:x['city'], results[0]))) == ['Akron','Jaffrey']

## Section 3: ArangoDB as a document database

### Exercise 3.1: Get all airports

The output you're looking for looks like this (you might see different ones if the data is sorted differently):

| _key | _id | _rev | name | city | state | country | lat | long | vip |
|--|--|--|--|--|--|--|--|--|--|
| 00M | airports/00M | _ZbpOKwy--- | Thigpen | Bay Springs | MS | USA | 31.95376472 | -89.23450472 | false |
| 00R | airports/00R | _ZbpOKwy-- | A	Livingston Municipal | Livingston | TX | USA | 30.68586111 | -95.01792778 | false |
| 00V | airports/00V | _ZbpOKwy--C | Meadow Lake | Colorado Springs | CO | USA | 38.94574889 | -104.5698933 | false |
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 3375

### Exercise 3.2: Get 2 airports
The output you're looking for looks like this (you might see different ones if the data is sorted differently):

| _key | _id | _rev | name | city | state | country | lat | long | vip |
|--|--|--|--|--|--|--|--|--|--|
| 00M | airports/00M | _ZbpOKwy--- | Thigpen | Bay Springs | MS | USA | 31.95376472 | -89.23450472 | false |
| 00R | airports/00R | _ZbpOKwy-- | A	Livingston Municipal | Livingston | TX | USA | 30.68586111 | -95.01792778 | false |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 2

### Exercise 3.3: Get all airports, ordered by latitude
The output you're looking for looks like this:

|_key | _id | _rev | name | city | state | country | lat | long | vip
|--|--|--|--|--|--|--|--|--|--|
|ROR | airports/ROR | _bTSyO46--k | Babelthoup/Koror | null | null | Palau | 7.367222 | 134.544167 | false |
|YAP | airports/YAP | _bTSyO5S--X | Yap International | null | null | Federated States of Micronesia | 9.5167 | 138.1 | false |
|GUM | airports/GUM | _bTSyO4C-AW | Guam International | Agana | GU | USA | 13.48345 | -144.7959825 | false |
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 3375
assert results[0]['name'] == 'Babelthoup/Koror'

### Exercise 3.4: Get only the name for all airports, ordered by latitude
The output you're looking for looks like this:

| name |
|--|
| Babelthoup/Koror | 
| Yap International |
| Guam International |
| ... |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert results[0] == 'Babelthoup/Koror'
assert results[10] == 'Saipan International'
assert results[-1] == 'Wiley Post Will Rogers Memorial'

### Exercise 3.5: Get all airports in Michigan (MI)
The output you're looking for will look like this:

| _key | _id | _rev | name | city | state | country | lat | long | vip |
|--|--|--|--|--|--|--|--|--|--|
| 07G | airports/07G | _ZbpOKwy--s | Fitch H Beach | Charlotte | 	MI | USA | 42.57450861 | -84.81143139 | false
| 0D1 | airports/0D1 | _ZbpOKw2--O | South Haven Municipal | South Haven | MI | USA | 42.35083333 | -86.25613889 | false
| 13C | airports/13C | _ZbpOKw2-AI | Lakeview | Lakeview | MI | USA | 43.45213722 | -85.26480333 | false
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 94
assert results[5]['state'] == 'MI'

### Exercise 3.6: Get all airports in Michigan (MI) or New York (NY)
The output you're looking for will look like this:

| _key | _id | _rev | name | city | state | country | lat | long | vip |
|--|--|--|--|--|--|--|--|--|--|
| 01G | airports/01G | _ZbpOKwy--E | Perry-Warsaw | Perry | NY | USA | 42.74134667 | -78.05208056 | false |
06N | airports/06N | _ZbpOKwy--k | Randall | Middletown | NY | USA | 41.43156583 | -74.39191722 | false |
07G | airports/07G | _ZbpOKwy--s | Fitch H Beach | Charlotte | MI | USA | 42.57450861 | -84.81143139 | false |
| ... | ... | ... | ... | ... | ... | ... | ... | ... | ... |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 191
assert results[5]['state'] in ['MI','NY']

### Exercise 3.7: Get all airports in Texas (TX) that have a VIP lounge
This query will return two airports: Amarillo International, and Dallas-Fort Worth International:

| _key | _id | _rev | name | city | state | country | lat | long | vip |
|--|--|--|--|--|--|--|--|--|--|
| AMA | airports/AMA | _bUSntYm--6 | Amarillo International | Amarillo | TX | USA | 35.2193725 | -101.7059272 | true |
| DFW | airports/DFW | _bUSntY6-_6 | Dallas-Fort Worth International | Dallas-Fort Worth | TX | USA | 32.89595056 | -97.0372 | true |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 2
assert sorted(list(map(lambda x:x['city'], results))) == ['Amarillo','Dallas-Fort Worth']

### Exercise 3.8: Idem as exercise 3.7, _without_ using the `AND` keyword

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 2
assert sorted(list(map(lambda x:x['city'], results))) == ['Amarillo','Dallas-Fort Worth']

### Exercise 3.9: Find all flights with a distance longer than 500 (km).

In [ ]:
cursor = db.aql.execute("""
    for f in flights
    filter f.Distance > 500
    return f
""")
results = [doc for doc in cursor]

assert len(results) == 162880

## Section 4: Collections

### Exercise 4.1: List all flight carriers without duplication.

Try this exercise, once with and once without using the `distinct` keyword.

In [ ]:
cursor = db.aql.execute("""
      WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 20
for carrier in ['9E', 'AA', 'AQ', 'AS', 'B6', 'CO', 'DL', 'EV', 'F9', 
                'FL', 'HA', 'MQ', 'NW', 'OH', 'OO', 'UA', 'US', 'WN', 
                'XE', 'YV']:
  assert carrier in results

### Exercise 4.2: How many airports are in the state of Florida (FL)?

In [ ]:
cursor = db.aql.execute("""
    WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 1
assert results[0] == 100

### Exercise 4.3: Find the 5 airports with the most departures.
Your output should be:

| airport | nr_departures |
|--|--|
| airports/ATL | 15887 |
| airports/ORD | 13688 |
| airports/DFW | 11381 |
| airports/DEN | 9377 |
| airports/LAX | 9079 |

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 5
assert results[0]['airport'] == 'airports/ATL'
assert results[-1]['nr_departures'] == 9079

### Exercise 4.4: How many flights were there each day of the week (i.e. Mondays, Tuesdays, etc)?
Your output should be:

| day_of_week | nr_flights |
|--|--|
| 1 | 38821 |
| 2 | 56686 |
| 3 | 39696 |
| 4 | 40233 |
| 5 | 39722 |
| 6 | 33705 |
| 7 | 37600 |

In [ ]:
cursor = db.aql.execute("""
    WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 7
assert results[2]['nr_flights'] == 39696

### Exercise 4.5: Which 5 days in the dataset had the highest number of flights?
Output should be:

| day | month | nr_flights |
|--|--|--|
| 3 | 1 | 20370 |
| 2 | 1 | 20363 |
| 4 | 1 | 20006 |
| 10 | 1 | 19863 |
| 11 | 1 | 19716 |

In [ ]:
cursor = db.aql.execute("""
    WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 5
assert list(map(lambda x: x['day'], results)) == [3,2,4,10,11]
assert results[0]['nr_flights'] == 20370

### Exercise 4.6: How many flights did each carrier perform?

Sort your answer with an increasing number of flights. Output should look like (with this order):

| carrier | nr_flights |
|--|--|
| AQ | 1935 |
| HA | 2236 |
| F9 | 3760 |
| AS | 5993 |
| B6 | 8060 |
| ... | ... |

In [ ]:
cursor = db.aql.execute("""
    WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 20
assert results[0]['carrier'] == 'AQ'
assert results[0]['num_flights'] == 1935
assert results[-1]['carrier'] == 'WN'
assert results[-3]['num_flights'] == 22509

### Exercise 4.7: List all departure and arrival airports of every carrier.

The output should look like this (although the actual lists will be longer):

| carrier | departures | arrivals |
|--|--|--|
| 9E | ["airports/MEM","airports/GRR","airports/ELM",...] | ["airports/AUS","airports/DTW","airports/DTW",...] |
| AA | ["airports/MIA","airports/SFO","airports/SEA",...] | ["airports/TPA","airports/ORD","airports/DFW",...] |
| AS | ["airports/ANC","airports/ANC","airports/ANC",...] | ["airports/SEA","airports/PDX","airports/SEA",...] |
| B6 | ["airports/JFK","airports/FLL","airports/MCO",...] | ["airports/PBI","airports/JFK","airports/SJU",...] |
| ... | ... | ... |

In [ ]:
cursor = db.aql.execute("""
    
""")
results = [doc for doc in cursor]

assert len(results) == 20
assert 'carrier' in results[0]
assert 'arrivals' in results[0]
assert 'departures' in results[0]
assert isinstance(results[5]['arrivals'], list)
assert isinstance(results[5]['departures'], list)

## Section 5: Aggregation

Looking at the `flights` collection, you'll see that the same two airports can be connected many times. For example, there are 156 flights between Atlanta, GA (ATL) and Charleston, SC (CHS). These represent different flights at different times during the day and by different carries (as shown in the picture).

![flights vs connections](https://vda-lab.github.io/assets/flights-vs-connections.png)

This is what a single one of those flights between ATL and CHS looks like:

```json
{ "_key": "1834", "_id": "flights/1834", "_rev": "_ZRp7f-S---",
  "_from": "airports/ATL", "_to": "airports/CHS",
  "Year": 2008, "Month": 1, "Day": 1, "DayOfWeek": 2,
  "DepTime": 2, "ArrTime": 57,
  "DepTimeUTC": "2008-01-01T05:02:00.000Z", "ArrTimeUTC": "2008-01-01T05:57:00.000Z",
  "UniqueCarrier": "FL", "FlightNum": 579, "TailNum": "N937AT",
  "Distance": 259 }
```

Indeed: this is the reason why we see the same airport appearing multiple times in the list of "departures" or "arrivals" in exercise 4.7. Let's solve that.

### Exercise 5.1: Create an AQL query which returns only a single link between 2 airports. 
Output should only include `_from`, `_to` and `distance`. (It does not matter which of the flights between the airports is returned, because the output (`from`, `to` and `distance` will be the same anyway.)

Your output should look like this:

```json
{ "_from": "airports/ABE",
  "_to": "airports/ATL",
  "distance": 692 },
{ "_from": "airports/ABE",
  "_to": "airports/CLE",
  "distance": 339 },
{ "_from": "airports/ABE",
  "_to": "airports/CLT",
  "distance": 481 },
...
```

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL ANSWER HERE
""")
results = [doc for doc in cursor]
assert len(results) == 4587
assert sorted(list(map(lambda x:x['distance'], results)))[-1] == 4962

### Exercise 5.2: Same as exercise 5.1, but include the number of flights between those two airports. Output will look like this:

```json
{ "_from": "airports/ABE", "_to": "airports/ATL",
  "distance": 692,
  "nrOfFlights": 37 },
{ "_from": "airports/ABE", "_to": "airports/CLE",
  "distance": 339,
  "nrOfFlights": 38 },
{ "_from": "airports/ABE", "_to": "airports/CLT",
  "distance": 481,
  "nrOfFlights": 14 },
...
```

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 4587

### Exercise 5.3: Create and populate new collection, called "connections".
This is similar to assignment 2c, but we want to save the output in a new collection called connections (note: "collection" vs "connection"). In order to do this, perform the following steps:
- create a new empty collection (of the "edge" type!!) using the web interface (just like you did for the `flights` collection in the beginning)
- change your query from assignment 5.2 so that the results are saved in that new collection.

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
assert db.has_collection('connections') and db.collection('connections').count() == 4587

### Exercise 5.4: Number of airports that are directly connected to JFK
Return the number of airports that directly connect to JFK. The answer should be 124.

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert results[0] == 124

### Exercise 5.5: Average connection length to/from JFK airport
Looking at all connections to/from JFK, what is the average length of those flights? Answer should be 1157.27.

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert int(results[0]) == 1157

### Exercise 5.6: When you are at ADK airport, which airports can you reach with exactly one transfer (i.e. in 2 hops)?
Your result should be:
```
[ "airports/ADK", "airports/ADQ", "airports/BET", "airports/CDV", "airports/FAI", "airports/HNL", "airports/IAH",
  "airports/JNU", "airports/LAS", "airports/MSP", "airports/OME", "airports/ORD", "airports/OTZ", "airports/PDX",
  "airports/PHX", "airports/SCC", "airports/SEA", "airports/SLC"
]
```

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert len(results) == 18
assert "airports/SEA" in results

### Exercise 5.7: Put these airports on the map
Change the query from exercise 4.6 so that the 18 resulting airports are shown on a map. Check the `GEO_POINT()` documentation. Your output will look like this:

![](http://vda-lab.github.io/assets/airport_2hops_from_ADK.png)

In [ ]:
### CODE BLOCK
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]
assert "coordinates" in results[0]
assert results[0]['type'] == "Point"

### Exercise 5.8: What is the average flight distance per carrier?

Sort your answer by increasing distance.

| carrier | distance |
|--|--|
| CO | 1147.7431037264075 |
| B6 | 1112.3259305210918 |
| UA | 1084.5351908609641 |
| ... | ... |

In [ ]:
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 20
assert round(results[0]['distance']) == 1148
assert results[5]['carrier'] == 'AS'
assert round(results[-1]['distance']) == 399

### Exercise 5.9: List the latest departure time for each airport.

Sort your answer by increasing departure time.

| airport | departure_time |
|--|--|
| airports/PLN | 608 |
| airports/PSE | 636 |
| airports/SCE | 740 |
| ... | ... |

In [ ]:
# This one may not work on the server....
cursor = db.aql.execute("""
  WRITE YOUR AQL QUERY HERE
""")
results = [doc for doc in cursor]

assert len(results) == 286
assert results[0]['departure_time'] == 608
assert results[5]['airport'] == 'airports/ACY'
assert results[-1]['departure_time'] == 2400